In [26]:
from bs4 import BeautifulSoup
import requests

In [27]:
url = 'https://web.archive.org/web/20230908091635/https:/en.wikipedia.org/wiki/List_of_largest_banks'

In [28]:
page = requests.get(url)

In [29]:
soup = BeautifulSoup(page.text, 'html')

In [30]:
table = soup.find_all('table')[0]

In [32]:
bank_cap = table.find_all('th')

In [34]:
market_cap = [title.text.strip() for title in bank_cap]

print(market_cap)

['Rank', 'Bank name', 'Market cap(US$ billion)']

In [35]:
import pandas as pd

In [40]:
df = pd.DataFrame(columns = market_cap)
df

Empty DataFrame
Columns: [Rank, Bank name, Market cap(US$ billion)]
Index: []

In [41]:
column_data = table.find_all('tr')

In [43]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = individual_row_data

In [44]:
df

  Rank                                Bank name Market cap(US$ billion)
0    1                           JPMorgan Chase                  432.92
1    2                          Bank of America                  231.52
2    3  Industrial and Commercial Bank of China                  194.56
3    4               Agricultural Bank of China                  160.68
4    5                                HDFC Bank                  157.91
5    6                              Wells Fargo                  155.87
6    7                        HSBC Holdings PLC                  148.90
7    8                           Morgan Stanley                  140.83
8    9                  China Construction Bank                  139.82
9   10                            Bank of China                  136.81

In [45]:
df.to_csv(r'D:\Data Engineering\Project 1\exchange_rate.csv', index = False)

In [46]:
df.fillna(0, inplace=True)